{% extends "base.html" %}

{% block title %}SSEFinder{% endblock %}

{% block content %}

    <h1>COVID-19 SSEFinder</h1>

    <button class="tab_button" onclick="openTab('Cases')">Cases</button>
    <button class="tab_button" onclick="openTab('SSE_Loc')">SSE Locations</button>

    <div id="Cases" class="tab">
    <table id="cases">
        <!--Table Header-->
        <tr id="table_header">
            <th>Case Number</th>
            <th>Name</th>
            <th>ID Number</th>
            <th>Date of Birth</th>
            <th>Onset Date</th>
            <th>Confirmed Date</th>
        </tr>
        <!--Table Entries-->
        {% for case in cases %}
        <tr>
            <td>{{ case.case_number }}</td>
            <td>{{ case.person_name }}</td>
            <td>{{ case.identity_document_number }}</td>
            <td>{{ case.date_of_birth }}</td>
            <td>{{ case.onset_date }}</td>
            <td>{{ case.date_confirmed }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <div id="SSE_Loc" class="tab" style="display:none">
    <table>
      <!--Table Header-->
      <tr id="table_header">
          <th>Venue Name</th>
          <th>Venue Location</th>
          <th>Address</th>
          <th>X Coord</th>
          <th>Y Coord</th>
          <th>Date of Event</th>
          <th>Description</th>
          <th>Cases Involved</th>
      </tr>
    </table>
    </div>

{% endblock %}
