{% load static %}

<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Page Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<body>

    {% block content %}
        Body content
    {% endblock %}


    <script type="text/javascript" src="{% static 'tab-nav.js' %}"></script>
    <script type="text/javascript" src="{% static 'display-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'create-data.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

</body>


</html>
