
<tr id="table_header">
    <th>Venue Name</th>
    <th>Venue Location</th>
    <th>Address</th>
    <th>X Coord</th>
    <th>Y Coord</th>
    <th>Date of Event</th>
    <th>Description</th>
    <th>Classification</th>
</tr>

{% for event in events %}
<tr>
    <td>{{ event.0.venue_name }}</td>
    <td>{{ event.0.venue_location }}</td>
    <td>{{ event.0.address }}</td>
    <td>{{ event.0.x_coord }}</td>
    <td>{{ event.0.y_coord }}</td>
    <td>{{ event.0.date_of_event }}</td>
    <td>{{ event.0.description }}</td>
    <td>{{ event.1 }}</td>
</tr>
{% endfor %}

<!-- ADD ATTENDANCE RECORDS HERE -->
<tr>
<form method='POST'>
{% csrf_token %}

<td><label for="{{ form.venue_name.id_for_label }}"></label>
{{ form.venue_name }} </td>

<td><label for="{{ form.venue_location.id_for_label }}"></label>
{{ form.venue_location }}</td>

<td> NULL </td>

<td> NULL </td>

<td> NULL </td>

<td><label for="{{ form.date_of_event.id_for_label }}"></label>
{{ form.date_of_event }}</td>

<td><label for="{{ form.description.id_for_label }}"></label>
{{ form.description }}</td>

<td> NULL </td>
<input type='submit' value='Add New Location' />
</form>
<tr>
