
<tr id="table_header">
    <th>Venue Name</th>
    <th>Venue Location</th>
    <th>Address</th>
    <th>X Coord</th>
    <th>Y Coord</th>
    <th>Date of Event (YYYY-MM-DD)</th>
    <th>Description</th>
    <th>Classification</th>
</tr>

{% for event in events %}
<tr>
    <td>{{ event.0.venue_name }}</td>
    <td>{{ event.0.venue_location }}</td>
    <td>{{ event.0.address }}</td>
    <td>{{ event.0.x_coord }}</td>
    <td>{{ event.0.y_coord }}</td>
    <td>{{ event.0.date_of_event }}</td>
    <td>{{ event.2 }}</td>
    <td>{{ event.1 }}</td>
</tr>
{% endfor %}

<tr class='RecordBox'>
</tr>
