 <table id="cases">
    <!--Table Header-->
    <tr id="table_header">
        <th>Case Number</th>
        <th>Name</th>
        <th>ID Number</th>
        <th>Date of Birth</th>
        <th>Onset Date</th>
        <th>Confirmed Date</th>
    </tr>
    <!--Table Entries-->
    {% for case in cases %}
    <tr onclick="showCaseDetail('{{ case.case_number }}');">
        <td id="casenum">{{ case.case_number }}</td>
        <td>{{ case.person_name }}</td>
        <td>{{ case.identity_document_number }}</td>
        <td>{{ case.date_of_birth }}</td>
        <td id="onset_date">{{ case.onset_date }}</td>
        <td id="date_confirmed">{{ case.date_confirmed }}</td>
    </tr>

    <tr id="case_detail_{{ case.case_number }}" id='{{ case.case_number }}' style="display:none">
        <td colspan=6>
            <h3>Attendance Record</h3>
            <table>
            </table>
            <br>
            <button id="show-add-event-form-{{ case.case_number }}" type='submit' class="add_event_button" onclick="showRecordForm('{{ case.case_number }}');">Add Record</button>
            <button id="submit-add-event-form-{{ case.case_number }}" type='submit' class="add_event_button" onclick="submitrecord('{{ case.case_number }}');" style="display:none">Add Record</button>
            <b><p id="output_{{ case.case_number }}" style="font-size: 15px;"></p></b>
        </td>
    </tr>

    {% endfor %}
</table>
