<tr id="table_header">
    <th>Case Number</th>
    <th>Name</th>
    <th>ID Number</th>
    <th>Date of Birth (YYYY-MM-DD)</th>
    <th>Onset Date (YYYY-MM-DD)</th>
    <th>Confirmed Date (YYYY-MM-DD)</th>
    <th>Classification</th>
    <th>Description</th>
</tr>

{% for case in cases %}
<tr>
    <td>{{ case.0.case_number }}</td>
    <td>{{ case.0.person_name }}</td>
    <td>{{ case.0.identity_document_number }}</td>
    <td>{{ case.0.date_of_birth }}</td>
    <td>{{ case.0.onset_date }}</td>
    <td>{{ case.0.date_confirmed }}</td>
    <td>{{ case.1 }}</td>
    <td>{{ case.2 }}</td>
</tr>
{% endfor %}
