{% extends "base.html" %}
{% load static %}
{% block title %}SSEFinder{% endblock %}

{% block content %}

    <img id="icon" src="{% static 'favicon.ico' %}" alt="CHP Logo" width="50" height="50">
    <h1>COVID-19 SSEFinder</h1>

    <button class="tab_button" onclick="openTab('Cases')">Cases</button>
    <button class="tab_button" onclick="openTab('SSE_Loc')">SSE Locations</button>
    <div id="Cases" class="tab">
        {% include 'cases.html' %}
    </div>
    
    <div id="SSE_Loc" class="tab" style="display:none">
        <form id="event_query">
            {% csrf_token %}
            <label for="start_date">From:</label>
            <input type="date" id="start_date">
            <label for="end_date">To:</label>
            <input type="date" id="end_date">
            <button onclick="query_events()">Search</button>
        </form>
        <table>                                             
        <!--Table Header-->
        <tr id="table_header">
            <th>Venue Name</th>
            <th>Venue Location</th>
            <th>Address</th>
            <th>X Coord</th>
            <th>Y Coord</th>
            <th>Date of Event</th>
            <th>Description</th>
        </tr>

        <tr>
            <td colspan=7>
                Loading...
            </td>
        </tr>

        </table>
    </div>
    
    
{% endblock %}
